<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..........." crossorigin="anonymous"/>
    <link rel="icon" href="https://t3.ftcdn.net/jpg/04/03/01/82/360_F_403018215_gKfioLTjxax7ScdmdS7jv2Qjqe0GUZN0.jpg"
          type="image/x-image">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <title>Dashboard</title>
    <style>
        .bar {
            fill: steelblue;
        }
        .tab_btn{
            cursor:pointer;
            margin-top:15px;
            }
        .topLinks {
            text-decoration: none;
            right: 0;
            margin-right: 100px;
        }

        .topLinks li {
            color: #FFF;
            font-size: 15px;
            font-style: normal;
            line-height: normal;
        }

        .loader {
          border: 2px solid #f3f3f3;
          border-radius: 50%;
          border-top: 2px solid #06D85F;
          width: 30px;
          height: 30px;
          -webkit-animation: spin 0s linear infinite;
          animation: spin 0.5s linear infinite;
        }


        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.6);
        }

        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
          border-radius:20px;
        }
        .button{
         padding:5px;
         border-radius:10px;
         background-color: #019a41;
         color:white;
         cursor:pointer;

        }


        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;

        }

    </style>

</head>

<body>
<nav style="justify-content:space-between;display:flex;width:100%;margin:0;background:#0e071c">
    <a href="{% url 'home' %}" style="text-decoration:none"><p id="title">TaskerHub</p></a>
</nav>

{% if request.user_agent.is_pc %}

<div id="paypalChangeModal" class="modal">
    <div class="modal-content">
        <span class="close" id="close_ppl">&times;</span>
        <h3 style="color:red">Change Paypal Email</h3>
        <hr style="margin:15px;color:black">
        <p> Current Paypal Email <strong id="myPypl">{{profile.paypalEmail}}</strong></p>
        <p>Change to: </p>
        <form id="paypalChangeForm">
            {% csrf_token %}
            <input type="email" name="paypal_email" id="paypal_email" required><br>
            <div style="display:flex;margin-top:15px;margin-bottom:15px">
                <input type="checkbox" name="confirm_paypal" id="confirm_paypal" style="width:15px;height:15px"
                       required>
                <small style="margin-left:15px">Check to confirm the new PayPal email address.</small>
            </div>

            <p>Note: TaskerHub will not be responsible for payments made to the wrong PayPal. Kindly confirm before
                submitting </p>
            <div style="display:flex;justify-content:space-between">
                <div id="spinner_paypal"
                     style="display:none;justify-content:center;width:100%;margin-top:15px;margin-bottom:15px">
                    <div>
                        <span style="color:grey">Processing request </span>
                        <i class="fa fa-circle-o-notch fa-spin" style="color:grey"></i>
                    </div>
                </div>
                <div id="result_ppl" style="display:none">
                    <p id="ppl_messg"></p>
                    <div style="display:flex;justify-content:center;width:100%">
                        <div class="button okref" id="ok_ppl"
                             style="font-size:15px;font-weight:normal;color:white;padding-left:15px;padding-right:15px">
                            OK
                        </div>
                    </div>

                </div>
                <div class="button close" id="cancel_change" style="font-size:15px;font-weight:normal;color:white">
                    cancel
                </div>
                <button type="submit" class="button" style="background-color:red" id="submit_change">Change</button>
            </div>
        </form>

    </div>
</div>

<div id="requestWithdrawModal" class="modal">
    <div class="modal-content">
        <span class="close" id="close_with">&times;</span>
        <h3 style="color:red">Request Withdrawal</h3>
        <hr style="margin:15px;color:black">
        <p> Available Balance: <strong style="color:#4ab555">$<span
                id="availBal">{{profile.balanceActual}}</span></strong></p>
        {% if profile.balanceActual > 25 %}
        <p>Amount to withdraw: </p>
        <form id="withdrawalReqForm">
            {% csrf_token %}
            <input type="number" name="with_amt" id="with_amt" required><br>
            <small id="withdrawal_condition" style="margin-top:15px;color:red">Minimum withdrawal is $25 </small>
            <p>Payment will be made to PayPal Account:<strong>{{profile.paypalEmail}}</strong></p>
            <div style="display:flex;margin-top:15px;margin-bottom:15px">
                <input type="checkbox" name="confirm_paypal" id="conf_with_amt" style="width:15px;height:15px"
                       required>
                <small style="margin-left:15px">Check to confirm the transaction.</small>
            </div>
            <p>Note: TaskerHub will not be responsible for payments made to the wrong PayPal. Kindly confirm before
                submitting. </p>
            <div style="display:flex;justify-content:space-between">
                <div id="spinner_with"
                     style="display:none;justify-content:center;width:100%;margin-top:15px;margin-bottom:15px">
                    <div>
                        <span style="color:grey">Processing request </span>
                        <i class="fa fa-circle-o-notch fa-spin" style="color:grey"></i>
                    </div>
                </div>
                <div id="result_with" style="display:none">
                    <p id="with_messg"></p>
                    <div style="display:flex;justify-content:center;width:100%">
                        <div class="button okref" id="ok_with"
                             style="font-size:15px;font-weight:normal;color:white;padding-left:15px;padding-right:15px">
                            OK
                        </div>
                    </div>

                </div>
                <div class="button close" style="font-size:15px;font-weight:normal;color:white" id="cancel_with">
                    cancel
                </div>
                <button type="submit" class="button" style="background-color:#faa5a6" id="submit_with_request" disabled>
                    Withdraw
                </button>
            </div>
        </form>
        {% else %}
        <p style="color:red">You have insufficient balance in your account. Minimum withdrawal amount is $25 </p>
        {% endif %}

    </div>
</div>

<div id="addAccountModal" class="modal">
    <div class="modal-content">
        <span class="close" id="clse_accnt">&times;</span>
        <h3 style="color:red">Add Account</h3>
        <hr style="margin:15px;color:black">
        <form id="addAccnt">
            {% csrf_token %}
            <label for="remo_email">Gmail address of the Remotask account</label><br>
            <input type="email" name="remo_email" id="remo_email" required
                   style="margin-top:15px;margin-bottom:15px;;"><br>
            <label for="remo_email">Password of the Gmail Account</label><br>
            <input type="text" name="remo_pass" id="remo_pass" required
                   style="margin-top:15px;margin-bottom:15px;"><br>
            <div style="display:flex;margin-top:15px;margin-bottom:15px">
                <input type="checkbox" name="confirm_details" id="conf_details" style="width:15px;height:15px"
                       required>
                <small style="margin-left:15px">Check to confirm the provided details.</small>
            </div>
            <p>Note: By clicking submit, you grant us the permission to manage the account above as per our <span
                    id="termsBtn"
                    style="color:blue;cursor:pointer">Terms
                and conditions </span></p>


            <div id="result_accnt" style="display:none;width:100%">
                <p style="width:100%;text-align:center" id="accnt_messg"></p>
                <div style="display:flex;justify-content:center;width:100%">
                    <div class="button okref" id="ok_accnt"
                         style="font-size:15px;font-weight:normal;color:white;padding-left:15px;padding-right:15px">
                        OK
                    </div>
                </div>

            </div>
            <div id="spinner_accnt"
                 style="display:none;justify-content:center;width:100%;margin-top:15px;margin-bottom:15px">
                <div>
                    <span style="color:grey">Processing request </span>
                    <i class="fa fa-circle-o-notch fa-spin" style="color:grey"></i>
                </div>
            </div>
            <div style="display:flex;justify-content:space-between;width:100%">

                <div class="button close" style="font-size:15px;font-weight:normal;color:white" id="cancel_accnt">
                    cancel
                </div>
                <button class="button" type="submit" style="background-color:red" id="submit_accnt">Submit</button>
            </div>
        </form>

    </div>
</div>

<div id="termsAndCoModal" class="modal">
    <div class="modal-content">
        <h3 style="color:red">Terms and Conditions</h3>
        <hr style="margin:15px;color:black">
        <p>These Terms and Conditions ("Terms", "Terms and Conditions") govern your relationship with the
            https://taskerhub.roniib.com website (the "Service") operated by TaskerHub ("us", "we", or "our").</p>
        <h2>Accounts</h2>
        <p>When you create an account with us, you must provide us information that is accurate, complete, and current
            at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination
            of your account on our Service.</p>
        <p>You are responsible for safeguarding the password that you use to access the Service and for any activities
            or actions under your password, whether your password is with our Service or a third-party service.</p>
        <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming
            aware of any breach of security or unauthorized use of your account.</p>
        <h3>
            Tasker Accounts
        </h3>
        <p>By Submitting the tasker account credentials to Us, you grant us permission to manage tha account. You will
            NOT be able to access this Tasker account UNLESS DIRECTED BY US and any form of bypassing will result to
            immediate termination of your TaskerHub Account. </p>
        <p>All progress of your Tasker Account will be available in your TaskerHub account and should be accessed ONLY
            using your TaskerHub Account. </p>
        <h2>Intellectual Property</h2>
        <p>The Service and its original content, features, and functionality are and will remain the exclusive property
            of Example Company and its licensors. The Service is protected by copyright, trademark, and other laws of
            both the United States and foreign countries. Our trademarks and trade dress may not be used in connection
            with any product or service without the prior written consent of Example Company.</p>
        <h2>Links To Other Web Sites</h2>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by
            Example Company.</p>
        <p>Example Company has no control over, and assumes no responsibility for, the content, privacy policies, or
            practices of any third-party web sites or services. You further acknowledge and agree that Example Company
            shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be
            caused by or in connection with use of or reliance on any such content, goods or services available on or
            through any such web sites or services.</p>
        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or
            services that you visit.</p>
        <h2>Termination</h2>
        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any
            reason whatsoever, including without limitation if you breach the Terms.</p>
        <p>All provisions of the Terms which by their nature should survive termination shall survive termination,
            including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of
            liability.</p>
        <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason
            whatsoever, including without limitation if you breach the Terms.</p>
        <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your
            account, you may simply discontinue using the Service.</p>
        <h2>Governing Law</h2>
        <p>These Terms shall be governed and construed in accordance with the laws of California, United States, without
            regard to its conflict of law provisions.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.
            If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions
            of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our
            Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
        <h2>Changes</h2>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
            material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What
            constitutes a material change will be determined at our sole discretion.</p>
        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by
            the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us.</p>
        <div style="display:flex;justify-content:center">
            <div class="button " id="closeTerms" style="font-size:15px;font-weight:normal;color:white">
                I understand
            </div>
        </div>


    </div>

</div>

<div style="display: flex;">
    <div style="width: 20%;background: #e1d7f5;padding-top: 20px;padding-left:20px">
        <p style="color: #0E7DA6;">
                <span>
                    <i class="fa fa-user"></i>
                </span>
            DASHBOARD
        </p>
        <div style="display: flex;flex-direction: column;justify-content: space-between;height: 90%;">
            <ul style="list-style-type: none;">
                <li class="tab_btn" onclick="switchTab('basic_info')" style="color:black" id="bs_inf">Basic Info</li>
                <li class="tab_btn" onclick="switchTab('analytics')" style="color:#0E7DA6" id="bs_ana">Analytics</li>
                <li class="tab_btn" onclick="switchTab('billing')" style="color:black" id="bs_bil">Withdrawals</li>
                <li class="tab_btn" onclick="switchTab('my_apis')" style="color:black" id="bs_mya">My Accounts</li>
                <li class="tab_btn" onclick="switchTab('my_sub')" style="color:black" id="bs_mysub">Notifications
                </li>
            </ul>
            <a href="{% url 'logout' %}" style="padding-bottom:10px;text-decoration:none;color:red">
                <p>
                    <span>
                        <i class="fa fa-sign-out"></i>
                    </span>
                    SIGN OUT
                </p>

            </a>
        </div>

    </div>
    <div style="width: 80%;padding: 20px;overflow-y: scroll;height: 85vh">
        <div class="disp_content" id="basic_info" style="display:none">
            <div class="with-search">
                <h2>Basic Info</h2>
            </div>
            <div style="margin-left:30px;display:flex">
                <img id="previewImage"
                     src="https://icons.veryicon.com/png/o/miscellaneous/zr_icon/basic-information-2.png"
                     alt="info svg" width="200" height="200">

                <div>
                    <p>Name: <span style="font-weight:bold">{{ profile.firstname }} {{profile.lastname}}</span></p>
                    <p>Username: <span style="font-weight:bold">{{ profile.username }}</span></p>
                    <p>Email: <span style="font-weight:bold">{{ profile.email }} </span></p>
                    <hr style="color:black;margin-top:!5px">
                    <div style="display:flex;justify-content:space-between;width:100%">
                        <p>Paypal Email: <span style="font-weight:bold">{{ profile.paypalEmail }} </span></p>
                        <div style="margin-left:100px" id="change_paypal">
                            <p style="background:#bfbfbf;border-radius:5px;padding:5px;cursor:pointer"> EDIT</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div class="disp_content" id="billing" style="display:none">
            <div class="with-search">
                <h2>Withdrawals</h2>
            </div>
            <div style="margin-left:30px">
                <div>
                    {% if transactions|length > 0 %}
                    <table class="w3-table w3-striped w3-center" style="width:100%">
                        <tr>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Withdrawal ID</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Amount</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Date</p>
                                </div>
                            </th>
                            <th>
                                <div style="display:flex">
                                    <p style="margin-left:20px">Status</p>
                                </div>
                            </th>
                        </tr>
                        {% for t in transactions %}
                        <tr>
                            <td>
                                <div style="display:flex">
                                    <p style="margin-left:20px">{{t.transactionId}}</p>
                                </div>
                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>${{t.transactionAmount}}</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    <p>{{t.transactionDate}}</p>
                                </div>

                            </td>
                            <td>
                                <div style="display:flex;margin-left:20px">
                                    {% if t.transactionStatus == 'success' %}
                                    <p style="color:green">Paid</p>
                                    {% elif t.transactionStatus == 'pending' %}
                                    <p style="color:blue">Pending</p>
                                    {% else %}
                                    <p style="color:red">Failed</p>

                                    {% endif %}
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <div style="display:flex;justify-content:center;">
                        <p>You have no recent withdrawals</p>
                    </div>
                    {% endif %}

                </div>
                <hr style="color:red;width:100%;height:3px">

            </div>
        </div>
        <div class="disp_content" id="analytics" style="display:block">
            <div class="with-search">
                <h2>Analytics</h2>
            </div>
            <div style="margin-left:15px">
                <div id="analytics_tab">
                    <div style="display:flex;justify-content:space-between">
                        <div>

                            {% if myAccounts|length > 0 %}
                            <label for="account">Select Account</label>
                            <select id="account" name="account" onchange="updateAccount()"
                                    style="width:40%;margin:15px;background:#bfbfbf">
                                {% for account in myAccounts %}
                                <option value="{{account.accountEmail}}">{{account.accountEmail}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <p style="color:red">You have no accounts yet</p>
                            {% endif %}
                        </div>

                        <small id="not_active" style="color:red;display:none">This account is not active yet</small>
                        {% if lastAccount.accountStatus != 'active' %}
                        <small id="not_active_2" style="color:red;">This account is not active yet</small>
                        {% endif %}

                        <div id="withdrw_bal">
                            <p id="withdrw_btn"
                               style="margin:0px;padding:10px;color:green;cursor: pointer;border-color:green;border-radius:10px;border-style: solid;display:flex;justify-content:center">
                                <i class="fa fa-money" style="padding:5px"></i> Request Withdrawal</p>
                        </div>

                    </div>
                    <hr style="margin-top:25px">

                    <div style="display:flex;justify-content:space-evenly;margin-right:50px">
                        <div style="background-color:#1b2636;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                            <p id="api_errors"
                               style="font-size:40px;color:white;margin-top:0px;margin-bottom:0px;text-align: center;">
                                ${{profile.withdrawSuccess}}</p>
                            <p style="color:white;text-align: center;">Withdrawn Total (All)</p>
                        </div>
                        <div style="background-color:#32a852;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                            <p style="font-size:40px;color:white;margin-top:0px;margin-bottom:0px;text-align: center;">
                                $<span id="total_perf">{{lastAccount.accountBalanceHold}}</span></p>
                            <p style="color:white;text-align: center;">{{week}}</p>
                        </div>
                        <div style="background-color:#a88c32;width:200px;height:100px:display:flex;justify-content:center;border-radius:10px">
                            <p style="font-size:40px;color:white;margin-top:0px;margin-bottom:0px;text-align: center;">
                                $<span id="act_bal">{{profile.balanceActual}}</span></p>
                            <p style="color:white;text-align: center;">Available Total (All)</p>
                        </div>
                    </div>
                    <div class="x_content" style="margin-top:30px;margin-bottom:15px">
                        <canvas id="mybarChart"></canvas>
                    </div>

                </div>
                <div id="loading_tab" style="width:100%;margin-top:50px;display:none">

                    <div style="display:flex;justify-content:center;width:100%;">
                        <div style="font-size:25px;color:grey">
                            <p>Fetching data <i class="fa fa-spinner fa-spin"></i></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="disp_content" id="my_apis" style="display:none">
            <div class="with-search">
                <h2>My Remotasks Accounts</h2>
            </div>
            <div style="margin-left:30px">
                <div style="width:100%;display:flex;justify-content:flex-end">
                    <div id="add_accnt"
                         style="border-color:green;border-radius:10px;border-style: solid; width:200px;display:flex;justify-content:center">
                        <p id="accnt_btn" style="margin:0px;padding:5px;color:green;cursor: pointer;"><i
                                class="fa fa-plus"></i> Add Account</p>
                    </div>
                </div>
                <hr style="color:black;width:100%;height:3px">
                {% if myAccounts|length > 0 %}
                <table class="w3-table w3-striped w3-center" style="width:100%">
                    <tr>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Date Updated</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">Account Email</p>
                            </div>
                        </th>
                        <th>
                            <div style="display:flex">
                                <p style="margin-left:20px">status</p>
                            </div>
                        </th>
                    </tr>
                    {% for t in myAccounts %}
                    <tr>
                        <td>
                            <div style="display:flex">
                                <p style="margin-left:20px">{{t.dateCreated}}</p>
                            </div>
                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                <p>{{t.accountEmail}}</p>
                            </div>

                        </td>
                        <td>
                            <div style="display:flex;margin-left:20px">
                                {% if t.accountStatus == 'active' %}
                                <p style="color:green">Active</p>
                                {% elif t.accountStatus == 'pending' %}
                                <p style="color:blue">Pending</p>
                                {% else %}
                                <p style="color:red">Rejected</p>

                                {% endif %}
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div style="display:flex;justify-content:center;">
                    <p>You have no accounts. All accounts will be displayed here</p>
                </div>
                {% endif %}


            </div>
        </div>
        <div class="disp_content" id="my_sub" style="display:none">
            <div class="with-search">
                <h2>Notifications</h2>
            </div>

            <div style="margin-left:30px">
                {% if notifications %}
                {% for n in notifications %}
                <div style="padding-bottom:20px;margin-bottom:10px;display:flex;background-color:#ddfaff">
                    <div style="width:5px;background-color:#6E6E6E;margin-right:10px"></div>
                    <div>
                        <p>{{n.notificationDate}}</p>
                        <p style="font-size:20px">{{n.notificationSubject}}</p>
                        <hr style="color:black">
                        <p>{{n.notificationMessage}}.</p>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <p>Looks like there is nothing here</p>
                {% endif %}

            </div>
        </div>
    </div>


</div>

{% else %}

{% endif %}
<script>

    function switchTab(val) {
        swid = '#' + val;
        $('.tab_btn').css('color', 'black');
        if (val == 'basic_info') {
            $('#bs_inf').css('color', '#0E7DA6');
        } else if (val == 'analytics') {
            $('#bs_ana').css('color', '#0E7DA6');
        } else if (val == 'billing') {
            $('#bs_bil').css('color', '#0E7DA6');
        } else if (val == 'my_apis') {
            $('#bs_mya').css('color', '#0E7DA6');
        } else {
            $('#bs_mysub').css('color', '#0E7DA6');
        }
        $('.disp_content').css('display', 'none');
        $(swid).css('display', 'block');
    }

    $('#visibility').click(function(){
        var tokenK=$('#apitokenkey').text();
        if($('#visibility').hasClass('fa-eye')){
            $('#visibility').removeClass('fa-eye');
            $('#token').text(tokenK);
            $('#visibility').addClass('fa-eye-slash');
        }else{
            $('#visibility').removeClass('fa-eye-slash');
            $('#visibility').addClass('fa-eye');
            $('#token').text('**********************************************');
        }

    });



    $('#menu-open').click(function () {
        $('#menu-open').css('display', 'none');
        $('#nav').css('display', 'block');
        $('#menu-close').css('display', 'block');
    });
    $('#menu-close').click(function () {
        $('#menu-close').css('display', 'none');
        $('#nav').css('display', 'none');
        $('#menu-open').css('display', 'block');
    });

    $(document).ready(function () {
        $('#change_paypal').click(function(){
            $('#paypalChangeModal').css('display','block');

        });

        $('.close').click(function(){
            $('.modal').hide();
        })

        $('#withdrw_btn').click(function(){
            $('#requestWithdrawModal').css('display','block');

        });


        $('#add_accnt').click(function(){
            $('#addAccountModal').css('display','block');

        });


        $('#termsBtn').click(function(){
            $('#termsAndCoModal').css('display','block');

        });

        $('#closeTerms').click(function(){
            $('#termsAndCoModal').hide();
        });
        $('.okref').click(function(){
            location.reload();
        });

    });

</script>
<script>
    //change paypal
$(document).ready(function() {
// Prevent the default form submission behavior
    $('#paypalChangeForm').submit(function(event) {
        event.preventDefault();
        $('#submit_change').css('display','none');
        $('#cancel_change').css('display','none');
        $('#close_ppl').css('display','none');
        $('#spinner_paypal').css('display','flex');
        $('#spinner_paypal').css('justify-content','center');
        $('#confirm_paypal').prop('readonly', true);
        $('#paypal_email').prop('readonly', true);

        //submit form via ajax
          $.ajax({
                type: 'POST',
                url: '{% url 'changePaypal' %}',
                data: {
                  'paypal_email': $('#paypal_email').val(),
                },
                success: function(response) {
                  // Update the div element with the response
                  $('#spinner_paypal').css('display','none');

                  if(response.resultType=='success'){
                    $('#ppl_messg').css('color','green');
                  }else{
                    $('#ppl_messg').css('color','red');
                  }

                  $('#ppl_messg').text(response.message);
                  $('#myPypl').text(response.email);
                  $('#result_ppl').css('display','block');
                },
                error: function(xhr, status, error) {
                  $('#spinner_paypal').css('display','none');
                  $('#ppl_messg').css('color','red');
                  $('#ppl_messg').text('Failed. Try again later');
                  $('#result_ppl').css('display','block');

                }
              });
    });
});


</script>
<script>
    //request withdrawal
$(document).ready(function() {

    $('#with_amt').keyup(function(event) {
    var amt=parseInt($('#with_amt').val());
    var bal=parseInt($('#act_bal').text());

    if(amt>24 && bal >= amt )
    {
        $('#submit_with_request').css('background-color','red');
        $('#submit_with_request').prop('disabled',false);
    }
    else{
        $('#submit_with_request').css('background-color','#faa5a6');
        $('#submit_with_request').prop('disabled',true);

    }

    });


// Prevent the default form submission behavior
    $('#withdrawalReqForm').submit(function(event) {
        event.preventDefault();
        $('#cancel_with').css('display','none');
        $('#submit_with_request').css('display','none');
        $('#close_with').css('display','none');
        $('#spinner_with').css('display','flex');
        $('#spinner_with').css('justify-content','center');
        $('#with_amt').prop('readonly', true);
        $('#conf_with_amt').prop('readonly', true);

        //submit form via ajax
          $.ajax({
                type: 'POST',
                url: '{% url 'withdrawBalance' %}',
                data: {
                  'with_amt': $('#with_amt').val(),
                },
                success: function(response) {
                  // Update the div element with the response
                  $('#spinner_with').css('display','none');

                  if(response.resultType=='success'){
                    $('#with_messg').css('color','green');
                     $('#availBal').text(response.newBal);
                  }else{
                    $('#with_messg').css('color','red');
                  }

                  $('#with_messg').text(response.message);
                  $('#result_with').css('display','block');
                },
                error: function(xhr, status, error) {
                   console.log('Error:', xhr.responseText);

                  $('#spinner_with').css('display','none');
                  $('#with_messg').css('color','red');
                  $('#with_messg').text('Failed. Try again later');
                  $('#result_with').css('display','block');

                }
              });
    });
});


</script>
<script>
    //upload remo account
$(document).ready(function() {
// Prevent the default form submission behavior
    $('#addAccnt').submit(function(event) {
        event.preventDefault();
        $('#submit_accnt').css('display','none');
        $('#cancel_accnt').css('display','none');
        $('#clse_accnt').css('display','none');
        $('#spinner_accnt').css('display','flex');
        $('#spinner_accnt').css('justify-content','center');
        $('#remo_email').prop('readonly', true);
        $('#remo_pass').prop('readonly', true);
        $('#conf_details').prop('readonly', true);

        //submit form via ajax
          $.ajax({
                type: 'POST',
                url: '{% url 'uploadRemoAccount' %}',
                data: {
                  'remo_email': $('#remo_email').val(),
                  'remo_pass': $('#remo_pass').val(),
                },
                success: function(response) {
                  // Update the div element with the response
                  $('#spinner_accnt').css('display','none');

                  if(response.resultType=='success'){
                    $('#accnt_messg').css('color','green');
                    $('#ok_accnt').css('display','block');
                  }else{
                    $('#accnt_messg').css('color','red');
                    $('#ok_accnt').css('display','none');
                    $('#remo_email').prop('readonly', false);
                    $('#remo_pass').prop('readonly', false);
                    $('#conf_details').prop('readonly', false);
                    $('#submit_accnt').css('display','block');
                    $('#cancel_accnt').css('display','block');
                    $('#clse_accnt').css('display','block');
                  }

                  $('#accnt_messg').text(response.message);


                  $('#result_accnt').css('display','block');
                },
                error: function(xhr, status, error) {
                  $('#spinner_accnt').css('display','none');
                  $('#ok_accnt').css('display','none');
                  $('#accnt_messg').css('color','red');
                  $('#accnt_messg').text('Failed. Try again later');
                  $('#result_accnt').css('display','block');

                }
              });
    });
});


</script>
<script>
    var ctx = document.getElementById("mybarChart").getContext("2d");

    var mybarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Mon', 'Tue', 'Wed','Thur', 'Fri', 'Sat','Sun'],
        datasets: [{
            data: [{% for item in lastAccountPerformance %}"{{ item }}"{% if not forloop.last %},{% endif %}{% endfor %}],
            backgroundColor: "#018787",
            label:'Amount made in USD'
        }],

      },

      options: {
        legend: {
          display: true,
          position: 'top',
          labels: {
            fontColor: "#000080",
          }
        },
        title: {
            display: true,
            text: 'Weekly Performance',
            fontSize: 18,
            fontColor: 'black'
        },

        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    function updateAccount(){
          $('#analytics_tab').css('display','none');
          $('#loading_tab').css('display','block');
          $('#not_active').css('display','none');
          $('#not_active_2').css('display','none');
          $.ajax({
                type: 'POST',
                url: '{% url 'getPerformance' %}',
                data: {
                  'selectedAccount': $('#account').val(),
                },
                success: function(response) {
                  mybarChart.data.datasets[0].data=response.values;
                  mybarChart.update();
                  if(response.isActive != 'active' ){
                    $('#not_active').css('display','block');
                  }
                  $('#total_perf').text(response.accntBal);
                  $('#analytics_tab').css('display','block');
                  $('#loading_tab').css('display','none');



                },
                error: function(xhr, status, error) {
                    console.log('Error:', xhr.responseText);
                    $('#analytics_tab').css('display','block');
                    $('#loading_tab').css('display','none');


                }
              });

    }

</script>
</body>
</html>